:root {
  --color-social: #afb1b8;
  --text-color: #212121;
  --white-color: #ffffff;
  --color-blue: #2196f3;
  --color-button-menu: #f5f4fa;
  --color-paragraph: #757575;
  --background-color: #2f303a;
  --color-svg: #2a2a2a;
}
